<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Office Supplies Needs</h1>
        <%= link_to 'new', 'items/new' %>
        <table>
            <tr>
                <th colspan="10">Name</th>
                <th colspan="10">Category</th>
                <th colspan="4">Status</th>
                <th colspan="2"></th>
                <th colspan="2"></th>
            </tr>
            <% @items.each do |item| %>
                <tr>
                <td colspan="10"><%= item.description %> </td>
                <td colspan="10"><%= item.category.category_name %> </td>
                <td colspan="4"><%= item.status %> </td>
                <td colspan="2"><%= link_to 'Dismiss', "items/dismiss?id=#{item.id}" %><td>
                <td colspan="2"><%= link_to 'Fulfill', "items/fulfill?id=#{item.id}" %><td>
                </tr>
            <% end %>
        </table>
    </body>
</html>